* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .add-product-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
  .add-product-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-product-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .add-product-detail,
  .add-product-image {
    width: 100%; /* Adjusted to take full width */
  }
  
  .add-product-detail label,
  .input-container label,.add-product-image label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .add-product-detail input,
  .add-product-image input,
  .product-general-detail select {
    width: 100%;
    padding: 8px;
    margin-bottom: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;

  }
  .quill{
    background-color: #f9f9f9;

  }
  .add-product-image select {
    height: 40px;
  }
  
  .product-general-detail {
    border: 1px solid rgb(234, 232, 232);
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 6px;
  }
  .details{
    display: flex;
    gap: 20px;
  
  }
  .product-general-detail h3 {
    margin-bottom: 25px;
  }
  
  .price-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .price-input-container span {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .price-input-container input {
    width: 100%; /* Adjusted to take remaining width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .input-container {
    flex: 1;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-submit {
    display: block;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }

 .product-media{
    display: flex;
    flex-direction: column;
    gap:10px;
 }
 .product-media> div:nth-child(2){
    font-weight: 700;
    margin: 10px 10px 0px;
    align-self: center;
 }
  .custom-file-upload {
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.icon svg {
    fill: rgba(75, 85, 99, 1);
    height:60px;
    margin-bottom: 10px;
  }
  
.text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custom-file-upload input {
    display: none;
  }

 
  
  .url-input label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .url-input input {
    /* width: 100%; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .btn-submit:hover {
    background-color: #45a049;
  }
  