/* Order Confirmation */
.OrderConfirmationPage {
  padding-left: 20px;
  margin: 2% auto;
  width: 1200px;
}

.OrderConfirmationPage .mainbox {
  margin-top: 30px;
}

.OrderConfirmationPage .mainbox span {
  font-size: 45px;
}

.OrderConfirmationPage .mainbox span .fa-icon {
  float: left;
  width: 5%;
}

.OrderConfirmationPage .mainbox .firstbox {
  padding-left: 1%;
  float: left;
}

.OrderConfirmationPage .order-text {
  font-size: 15px;
}

.OrderConfirmationPage .clear {
  clear: both;
}

.OrderConfirmationPage .mainbox .orderUpdates {
  border: 2px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 1%;
}

.OrderConfirmationPage .mainbox .orderUpdates .text-style {
  color: gray;
}

.OrderConfirmationPage .table-content .inside-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  padding: 12px;
  border: 2px solid lightgray;
  border-bottom: none;
  border-radius: 5px;
}

.OrderConfirmationPage .table-content .inside-content .info-q {
  padding-right: 6%;
}

.OrderConfirmationPage .table-content .inside-content:last-child {
  border-bottom: 2px solid lightgray;
}
